{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        
        <div class="col-lg-7">
            {% if content_list %}
                {% for content in content_list %}                        
                    <hr/>
                    <img src="/media/sample.jpg" alt="Sample Image" />
                    <h5>{{ content.title}}</h5>
                    <p>{{ content.content | truncatewords:10 }}</p>
                    <a class="btn btn-primary" href="{% url 'detail' content.id %}">상품 상세보기</a>
                    
                {% endfor %}                        
            {% else %}
                <p>content가 없습니다.</p>
            {% endif %} 
        </div>
    </div> 
</div>
{% endblock %}
